Domino/Library
Domino/Temp
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
*.DS_Store

/Domino/Assets/NGUI/Examples/Scripts.meta
/Domino/UnityVS.Domino.sln.DotSettings
/Domino/UnityVS.Domino.v12.suo
/Domino/obj/Debug
